.score-wrapper
	display flex
	flex-direction row
	justify-content: center
	padding: 2rem

.score-box
	min-width 8rem
	border 1px solid #073F52
	display flex
	flex-direction column
	p
		align-self center
		&.score-title
			width 100%
			text-align center
			background #406C7A
			padding .5rem
			color white
		&.score-value 
			padding .5rem
			color #073F52	
		
