/* MAIN SPINNER CONTAINER 
========================*/ 

.spinner-wrapper
	display flex
	justify-content center
	flex-wrap wrap
	margin-bottom 2rem


/* SINGLE SPINNER 
================*/

.spinner 
	margin: 1rem
	display flex
	flex-direction column
	.box
		width 50%
		margin 0 auto
		border: 2px solid #406C7A


	